body{

    background-color:#00BFFF;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    padding:0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container{
    width:500px;
    height:auto;
    margin-left: 600px;
    background-color: azure;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.section{
    width:100%;
    margin:0;
    display: block;
    float:none;
}

.input-section{
    width:100px;
    padding-left:5px;
    margin-left: 40px;
    display: inline-block;
   

}

.heading{
    font-size: 26px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:0px;
    box-shadow: 0px 2px;
    background-color: white;
    color: navy;
}

.title{
    font-size: 20px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 0.5;
    letter-spacing: 1px;
    word-spacing: 3px;
    color:#00BFFF;
}

input[type="text"]{
    width:100px;
    margin:auto;
    min-height: 10px;
    border: 2px solid #00BFFF;
    padding: 12px;
    border-radius: 2px;
    color: #00BFFF;
    font-size: 17px;
}

input[type = "text"]:focus{
    background-color: #ffffff;

}



input[type="button"]{
    width:150px;
    margin-left: 30%;
    margin-top: 40px;
    border:none;
    border-radius: 2%;
    color:white;
    background-color: #0761b6	;
    padding: 14px 16px;
    text-align: center;
    font-size: 16px;
}

input[type = "button"]:hover{
    background-color: #003669;
    cursor: pointer;
    
}


#age{
    display: block;
    margin-left: 10px;
    margin-top: 35px;
    padding:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    line-height: 1;
    color: navy;
}